@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1366px;
    margin: 0 auto;
    border: 1px solid #f0f0f0;

}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.slider {
    background-image: url(img/slider.png);
    height: 800px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 63px;
}

.menu {
    list-style-type: none;
    display: flex;
    margin-top: 67px;
}

.menu a {
    text-decoration: none;
    padding: 10px 13px;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 400;

}

.menu a:hover {
    color: #212121;
    /*    font-weight: 300;*/
}

.menu .active-link {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.slider-text {
    margin-top: 288px;
}

.slider-text h4 {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    line-height: 15px;
}

.slider-text h2,
.slider5 h2 {
    text-transform: uppercase;
    margin-top: 22px;
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 46px;
    text-align: left;
    letter-spacing: -1.7px;
}

.slider-text p,
.slider5 p {
    margin: 34px 0 25px;
    width: 458px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.slider-text a,
.slider5 a {
    text-transform: uppercase;
    display: block;
    border-radius: 22.5px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 3.5px;
}

.slider-dot {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.active-dot {
    position: absolute;
}

.slider_2 {
    height: 609px;
}

.head_2 {
    display: flex;
    justify-content: space-between;
}

.head_2 > a {
    text-transform: uppercase;
    padding-top: 138px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 2.5px
}

.menu_2 {
    list-style-type: none;
    display: flex;
    margin-top: 120px;
}

.menu_2 a {
    padding: 19px 9px;
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
}

.menu_2 a:hover {
    color: #212121;

}

.menu_2 .active-link {
    border-bottom: 3px solid #212121;
    color: #212121;
}

.fishnetchair {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
}

.firstcube {
    border-width: 1px;
    border-color: #9c9c9c;
    border-style: solid;
    background-color: #ffffff;
    opacity: 0.9;
    width: 268px;
    height: 268px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.firstcube .prod1 {
    position: absolute;
    z-index: -1;
    width: 268px;
    height: 268px;
    opacity: 0.15;
}

.firstcube a {
    display: flex;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 48px;
    height: 48px;
}

.firstcube img {
    display: block;
    margin: auto;
}

.firstcube h4 {
    color: #212121;
    font-size: 21.91px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin: 19px 0 23px;
}

.firstcube p {
    width: 206px;
    letter-spacing: -0.2px;
    color: #6c6c6c;
    font-size: 13.94px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    transform: scaleX(1.0041);
}

.cube2,
.cube3,
.cube=4 {
    height: 270px;
    width: 270px;
}

.slider3 {
    height: 683px;
    display: flex;
}

.promo1 {
    background-image: url(img/promo-img1.jpg);
    width: 683px;
}

.promo2 {
    background-image: url(img/promo-img.jpg);
    width: 683px;
}

.padding-promo {
    padding-left: 51px;
    padding-top: 228px;
}

.slider3 h4 {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.slider3 h2 {
    margin-top: 18px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.slider3 p {
    margin: 24px 0 34px;
    color: #6c6c6c;
    font-size: 13.99px;
    font-weight: 300;
    line-height: 24px;
    transform: scaleY(1.0022);
}

.slider3 a {
    display: block;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    text-transform: uppercase;
    letter-spacing: 2.5px;
    width: 212px;
    height: 46px;
    border-radius: 23px;
    color: #212121;
    font-size: 17.99px;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
    text-decoration: none;
    transform: scaleY(1.0022);
}

.slider4 h2 {
    margin-top: 119px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.slider4 {
    height: 1108px;
}

.product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 64px;
}

.product img {
    margin-bottom: 30px;
}

.slider5 {
    height: 800px;
    background-image: url(img/slider.jpg);
    padding-top: 287px;
    box-sizing: border-box;
}

.slider5 h4 {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.slider5 .slider-dot {
    margin-top: 220px;
}
